name: build the builder container image
on:
  workflow_dispatch:

  #push:
  #  branches:
  #    - 'develop'

jobs:
  build-builder-container:
    uses: ./.github/workflows/build-container.yaml
    with:
      container_name: builder
    secrets: inherit
    permissions:
      packages: write
      contents: read
      id-token: write
      attestations: write
