name: build the runtime container image
on:
  workflow_dispatch:

  #push:
  #  branches:
  #    - 'develop'

jobs:
  build-runtime-container:
    uses: ./.github/workflows/build-container.yaml
    with:
      container_name: runtime
    secrets: inherit
